# --- Python générique ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.ipynb_checkpoints/
.venv/
.venv/**

# --- Env & secrets ---
.env
.env.*
!.env.example

# --- VSCode / IDE ---
.vscode/
.idea/

# --- Logs & artefacts généraux ---
logs/
logs/**
*.log
tmp/
tmp/**

# --- Airflow runtime (tout sous ./airflow) ---
/airflow/airflow.db
/airflow/airflow.cfg
/airflow/*.pid
/airflow/*.out
/airflow/webserver_config.py
/airflow/logs/
/airflow/logs/**
/airflow/dags/__pycache__/
